@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

.bg-grid-pattern {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}

.bg-grid-pattern-dark {
  background-image: radial-gradient(#334155 1px, transparent 1px);
  background-size: 24px 24px;
}

body {
  font-family: var(--font-sans);
}
